
html{
    scroll-behavior: smooth;
}
.container1{
    background-image: url(imagens/Logo.png);
}

.container2{
    background-color: #edf0f2;
}
h1{
    font-weight: bold;
    text-align: center;
    color:black;
    font-size: 100px;
}
a{
    align-items: center;
    text-align: center;
    text-decoration: none;
    
    color:black;
    font-weight: bold;
    font-size: 25px;
    display: flex;         
    justify-content: center; 
    align-items: center;     
    
}

#nomes{
    color:black
}

.card-text{
    text-align: center;
}

.container3{
    background-color:#727272;
}
#Projeto{
    color:white;
}

#Tcard{
    color: white;
    font-size: 50px;
    text-align: center;
    display: flex;          
    justify-content: center; 
    align-items: center;    
    
}
h2{
    text-align: center;
    color: white;
}

p1, p2, p3{
    color: white;
    font-size: 15px;
    text-align: center;
    display: flex;         
    justify-content: center; 
    align-items: center;
    font-weight: bold;
}

#p123{
    color: white;
    font-size: 15px;
    text-align: center;
    display: flex;          
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.container4{
    background-color: #edf0f2;     
    justify-content: center; 
    align-items: center;
    text-align: center;
    display: grid;               
    place-items: center;
}
.quemsomos{
    text-align: center;
    background-color: #c9cbcd;
    font-size: 21px;
    display: flex;          
    justify-content: center; 
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 10px 10px 20px black;  /* Sombra */
}

.container5{
    background-image: linear-gradient(to right, #000000, #737373); 
}

video{
    border-radius:350px ; 
    overflow: hidden;
}

#maisprojetos{
    font-size: 75px;
    text-align: left;
    color: white;
}

#infomaisjogos{
    color: white;
    font-size: 25px;
}

video::-webkit-media-controls {
    display: none; /* Esconde os controles do vídeo no Chrome/Edge */
  }
  
  video::-moz-media-controls {
    display: none; /* Esconde os controles do vídeo no Firefox */
  }
  
  video::-ms-media-controls {
    display: none; /* Esconde os controles no Internet Explorer */
  }

@media (max-width: 780px) {
    #secao1{
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        /* width: 500px; */
        /* top: 53px; */
        text-align: center;
        /* padding: 2em 0; */
    }
    h1{
        font-size: 50px;
        text-align: center;
    }
    .container2{
        align-items: center;
        justify-content: center;
    }
    .col-sm{
        justify-content: center;
        align-items: center;
        margin-left: 35px;
    }
}
@media (max-width: 758px) {
    #secao1{
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        /* width: 500px; */
        /* top: 53px; */
        text-align: center;
        /* padding: 2em 0; */
    }
    h1{
        font-size: 25px;
        text-align: center;
    }
    .container2{
        align-items: center;
        justify-content: center;
    }
    /* .col-sm{
        margin-right: 135px;
        justify-content: center;
        align-items: center;
    } */
}     