html {
    scroll-behavior: smooth;
}
.container1 {
    background-color: white;

}

#T1 {
    color: #000000;
    font-size: 150px; /* Ajuste do tamanho da fonte */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 350px;
    margin-left: 800px;
    box-shadow: 0 0 0 10px black; /* Borda falsa atrás da div */
    padding: 40px;
    width: 450px;      /* Ajuste o tamanho da largura */
    height: 300px;     /* Ajuste o tamanho da altura */
    text-align: center;
}

.container2 {
    background-color: #edf0f2;
}

h1 {
    font-weight: bold;
    text-align: center;
    color: black;
    font-size: 100px;
}

#btn{
    text-decoration: none;
    color:white;
    font-weight: normal;
    font-size: 20px;
}

a {
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#nomes {
    color: black
}

.card-text {
    text-align: center;
}

.container3 {
    background-color: #727272;
}

#Projeto {
    color: white;
}

#Tcard {
    color: white;
    font-size: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

h2 {
    text-align: center;
    color: white;
}

p1,
p2,
p3 {
    color: white;
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#p123 {
    color: white;
    font-size: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.container4 {
    background-color: #edf0f2;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid;
    place-items: center;
}

.quemsomos {
    text-align: center;
    background-color: #c9cbcd;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 10px 10px 20px black;
    /* Sombra */
}

.container5 {
    background-image: linear-gradient(to right, #000000, #737373);
}

video {
    border-radius: 330px;
    overflow: hidden;
}

#maisprojetos {
    font-size: 75px;
    text-align: left;
    color: white;
}

#infomaisjogos {
    color: white;
    font-size: 25px;
}

video::-webkit-media-controls {
    display: none;
    /* Esconde os controles do vídeo no Chrome/Edge */
}

video::-moz-media-controls {
    display: none;
    /* Esconde os controles do vídeo no Firefox */
}

video::-ms-media-controls {
    display: none;
    /* Esconde os controles no Internet Explorer */
}

@media (max-width: 680px) {

    .container {
        size: 25px;
    }

    .row {
        align-items: center;
        justify-content: center;
    }

    .container1 {
        justify-content: center;
        align-items: center;
        text-align: center;
        place-items: center;
    }
    #T1{
        font-size: 48px;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 30px;
        width: 30px;
        padding: 50px;
        margin-right: 795px;
        margin-bottom: 50px;
    }

    h1 {
        font-size: 50px;
        text-align: center;
    }

    .container2 {
        align-items: center;
        justify-content: center;
    }

    .col-sm {
        justify-content: center;
        align-items: center;
        margin-left: 35px;
    }

    .container3 {
        align-items: center;
        justify-content: center;

    }

    .row {
        margin-right: 35px;

    }

    #cardspro {
        height: 450px;
        width: 150px;
    }


    .quemsomos {
        padding-left: 2px;
        padding-right: 2px;
        width: 350px;
        box-shadow: 5px 5px 10px black;
    }

    #textoquemsomos {
        font-size: 10px;
        text-align: center;

    }

    #maisprojetos {
        font-size: 25px;
    }

    #infomaisjogos {
        font-size: 15px;
    }

    #video {
        width: 250px;
        height: 350px;
        margin-left: 55px;
    }

    #Tcard {
        font-size: 25px;
    }

    #h2 {
        font-size: 25px;
    }

    #p1 {
        font-size: 15px;
        white-space: nowrap
    }

    #p2 {
        font-size: 25px;
    }

    #p3 {
        font-size: 25px;
    }

    .card {
        width: 25px;
    }

    #nomes {
        font-size: 25px;
    }

    .card-body {
        font-size: 15px;
    }

    #img {
        width: 2000px;
        height: 25px;
    }

}

@media (max-width: 758px) {
    #secao1 {
        background-repeat: no-repeat;
        background-size: cover;
        height: 300px;
        /* width: 500px; */
        /* top: 53px; */
        text-align: center;
        /* padding: 2em 0; */
    }

    h1 {
        font-size: 25px;
        text-align: center;
    }

    .container2 {
        align-items: center;
        justify-content: center;
    }

    /* .col-sm{
        margin-right: 135px;
        justify-content: center;
        align-items: center;
    } */
}